.card{"data-conversation-id" => "#{conversation.id}"}
  .card-header.d-flex.align-items-center.justify-content-between
    = conversation.opposed_user(user).username
  .card-body
    .messages-list.mb-2
      %ul
        = render 'conversations/conversation_content', messages: conversation.messages, user: user
    .message-form
      = form_for [conversation, conversation.messages.new], html: {class: 'd-flex'}, remote: true do |f|
        = f.hidden_field :conversation_id, value: conversation.id, class: "message-form__conversationid"
        = f.hidden_field :user_id, value: user.id, class: "message-form__userid"
        = f.text_field :body, class: "message-form__field mr-2 form-control", data: { behavior: "conversation_speaker" }
        = f.submit "Send", class: "btn btn-primary"
