!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Messenger
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if user_signed_in?
      %p= link_to "ログアウト", destroy_user_session_path, method: :delete
    - if notice
      %p.notice= notice
    - elsif alert
      %p.alert= alert
    .container
      = yield
